<launch>

    <node pkg = "turtlesim" type = "turtlesim_node" name = "turtlesim_node" output = "screen" />
    <node pkg = "turtlesim_football" type = "prepare_environment_with_goalkeeper" name = "prepare_environment" output = "screen" />
    <node pkg = "turtlesim_football" type = "turtlesim_football_run_with_goalkeeper" name = "turtlesim_game" output = "screen" />
    
</launch>

